
h1{
    text-align:center;
    font-family:spectral;
}

textarea{
    padding:10px;
    font-family:verdana;
    column-gap: 20px;
    margin-left:140px;
    margin-top:6%;
    resize:none;
    width:400px;
    height:300px;
}
#id1{
    direction:rtl;
    unicode-bidi: bidi-override;
}