.ab{
    display:flex;
    width:50%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.sleep{
    font-family:monospace;
    padding:10px;
    background-color:rgb(73, 73, 126);
    width:130px;
    color:white;
    font-family:cursive;
}
h1{
   text-align:center;
}
#horizontal{
    margin-top:1px;
    margin-left:1px;
    width:50px;
    height:20px;
    background-color: rgb(73, 73, 126);
    border-radius:25px;
    color:blue;
    border:2px dashed white;
    font-variant:small-caps;
}
#sleepingline{
    padding:500px;
    background-color:rgb(115, 183, 247);
}

